.container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    //background-color: #ECFAFF;
    height: 100%;
}

.logo{
    margin: 0 auto;
    width: 90%;
}

.form{
    padding: 15px;
    margin: 0 auto;
    margin-top: 1em;
    width: 90%;
    border-radius: 10px;
    background-color:#CEDFFF;
}

.icone-input{
    margin-right: 10px;
}

.botao-primario{
    color: var(--ion-color-tertiary-shade);
}