<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h2>Comece agora mesmo!</h2>
    <p style="font-size: small; padding-left: 2em; margin-top: -5px">Você só precisa dar o primeiro passo</p>
    <form class="form" novalidate [formGroup]="cadastroForm">

      <ion-item lines="full">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Repetir senha</ion-label>
        <ion-input type="password" formControlName="repetirSenha"></ion-input>
      </ion-item>

      <ion-row>
          <ion-button full color="primary" type="submit" style="margin: 0 auto; margin-top: 2em;" [disabled]="!cadastroForm.valid" (click)="cadastrar()">
            Confirmar cadastro
          </ion-button>
      </ion-row>
    </form>

  </div>
</ion-content>